
# MariaDB 설정 (추가 설정 필요)
MARIADB_ROOT_PASSWORD=1234
MARIADB_DATABASE=capstone_db
MARIADB_USER=capstone
MARIADB_PASSWORD=capstonepass

DB_PORT=3306
DB_HOST=mariadb
DB_NAME=capstone_db
DB_USERNAME=capstone
DB_PASSWORD=capstonepass

#외부 접속용 호스트 포트
#DB_EXTERNAL_PORT=3307

#Redis
REDIS_HOST=redis
REDIS_PORT=6379


# python 설정
APP_ENV=local
TRYON_MODE=mock
# 나중에 GPU 서버 구축시 주소 변경
AI_SERVER_URL=http://My-server-host:8000


# API 테스트 용(가짜 결과 이미지 반환)
USE_MOCK=true

#jwt 설정
JWT_SECRET=your-super-secret-key-change-this-in-production-32chars
JWT_EXPIRATION=3600000
